.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
  min-height: 40vh;
  background-color: #303846;

  h2 {
    color: #ffff;
    font-size: 1rem;
    font-weight: 700;
  }

  .left {
    line-height: 2.2rem;

    li {
      list-style: none;
      transition: .3s;

      .link {
        color: #fff;
        font-weight: 400;
        font-size: 1rem;
        &:hover{
          color: #fab758;
        }
      }
    }
  }

  .footerMain {
    a {
      color: #fab758;
      font-size: 1rem;
    }
  }
  .right {
    line-height: 2rem;
    img {
      width: 150px;
    }
    h3 {
      color: #f1f1f1;
    }
    .icons {
      display: flex;
      gap: 1rem;
      align-items: center;
      a {
        background-color: #f1f1f1;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      color: black;


      }
    }
  }
}
